/** {*/
/*    outline: 1px solid red;*/
/*}*/

.wd-link-no-decor a {
    text-decoration: none;
    color: inherit;
}

.fa-stack.small { font-size: 0.5em; }
i { vertical-align: middle; }

.wd-rounded-border-5 {
    border-radius: 5rem;
}

.wd-z-index {
    z-index: 10;
}

.wd-weight-bold {
    font-weight: bold;
}

.wd-min-width-40 {
    min-width: 40px;
}

.wd-width-limits {
    min-width: 70px;
    max-width: 90px;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.wd-icon-size {
    width: 20px;
}