/** {*/
/*    outline: 1px solid red;*/
/*}*/

.fa-stack.small { font-size: 0.5em; }
i { vertical-align: middle; }

.wd-row {
    float: left;
    width: 100%;
}

.wd-rounded-border-5 {
    border-radius: 5rem;
}

.wd-z-index {
    z-index: 10;
}

.wd-weight-bold {
    font-weight: bold;
}

.wd-post-photo {
    float: right;
    position: relative;
    width: 100%;
}
