/*p {
    background-color: blue;
    color: white;
}*/

p#id-selector-1 {
    background-color: red;
    color: white;
}

p#id-selector-2 {
    background-color: yellow;
    color: black;
}

.class-selector {
    background-color: yellow;
    color: blue;
}

.selector-1 .selector-3 {
    background-color: red;
    color: white;
}
.selector-2 > .selector-3 > .selector-4 {
    background-color: yellow;
    color: blue;
}

.fg-color-black { color: black; }
.fg-color-white { color: white; }
.fg-color-blue { color: #7070ff; }
.fg-color-red { color: #ff7070; }
.fg-color-green { color: green; }

.bg-color-yellow {
    background-color: #ffff07;
}
.bg-color-blue {
    background-color: #7070ff;
}
.bg-color-red {
    background-color: #ff7070;
}
.bg-color-green {
    background-color: green;
}

.border-fat {
    border-width: 20px 30px 20px 30px; }
.border-thin {
    border-width: 4px; }
.border-solid {
    border-style: solid; }
.border-dashed {
    border-style: dashed; }
.border-yellow {
    border-color: #ffff07; }
.border-red {
    border-color: #ff7070; }
.border-blue {
    border-color: #7070ff; }

.padded-top-left {
    padding-top: 50px;
    padding-left: 50px;
}

.padded-bottom-right {
    padding-bottom: 50px;
    padding-right: 50px;
}

.padding-fat {
    padding: 50px;
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-right-left {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-all-around {
    margin: 30px;
}
.rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.rounded-corners-bottom {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.rounded-corners-all-around {
    border-radius: 50px;
}

.rounded-corners-inline {
    border-radius: 30px 0px 20px 50px;
}

.dimension-portrait {
    width: 75px;
    height: 100px;
}

.dimension-landscape {
    width: 100px;
    height: 75px;
}

.dimension-square {
    width: 75px;
    height: 75px;
}

.pos-relative-nudge-up-right {
    position: relative;
    bottom: 30px;
    left: 30px;
}
.pos-relative-nudge-down-right {
    position: relative;
    top: 20px;
    left: 20px;
}
.pos-relative {
    position: relative;
}

.pos-absolute-10-10 {
    position: absolute;
    top: 10px;
    left: 10px;
}
.pos-absolute-50-50 {
    position: absolute;
    top: 50px;
    left: 50px;
}
.pos-absolute-120-20 {
    position: absolute;
    top: 20px;
    left: 120px;      }

.pos-fixed {
    position: fixed;
    right: 0px;
    bottom: 50%;
}

.zindex-bring-to-front {
    z-index: 10;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    height: 100px;
}

.float-done {
    clear: both;
}

.grid-row {
    clear: both;
}

.grid-col-half-page {
    width: 50%;
    float: left;
}

.grid-col-third-page {
    width: 33%;
    float: left;
}

.grid-col-two-thirds-page {
    width: 67%;
    float: left;
}

.grid-col-left-sidebar {
    width: 20%;
    float: left;
}

.grid-col-main-content {
    width: 60%;
    float: left;
}

.grid-col-right-sidebar {
    width: 20%;
    float: left;
}

.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}

.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.rotate-list-counter-clockwise {
    transform: rotate(-12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}

.rotate-image {
    transform: rotate(-10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;}
.rotate-table tr:nth-child(n+2) {
    background-color: yellow;}
.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;}
.rotate-table tr:nth-child(n+8) {
    background-color: red;}
.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}

.gradients-linear {
    background: linear-gradient(mediumpurple, skyblue);
    width: 200px;
    height: 200px;
}

.gradients-radial {
    background: radial-gradient(pink, blue);
    width: 200px;
    height: 200px;
}

.gradients-positioned {
    background:
            radial-gradient(
                    at bottom right, orange, lightgreen);
    width: 200px;
    height: 200px;
    color: white;
}

.animation-box{
    height: 300px;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 100px;
    height: 100px;
    background-color: hotpink;
    color: white;
    font-size: 10%;
    overflow: hidden;
}

@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 10%;
        margin-left: 50%;
        width: 100px;
        height: 100px;
        background-color: goldenrod;
        color: black;
    }
    50% {
        position: relative;
        top: 50px;
        font-size: 50%;
        margin-rightt: 25%;
        width: 200px;
        height: 200px;
        background-color: cornflowerblue;
        color: darkolivegreen;
    }
    to {
        position: relative;
        top: 0px;
        font-size: 10%;
        margin-left: 0%;
        width: 100px;
        height: 100px;
        background-color: hotpink;
        color: white;
    }
}

.flex-container-center {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.flex-box-center {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-center {
    background-color: yellow;
}
.flex-box-2-center {
    background-color: blue;
    color: white;
}
.flex-box-3-center {
    background-color: red;
    color: white;
}

.flex-container-end {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: end;
}
.flex-box-end {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-end {
    background-color: yellow;
}
.flex-box-2-end {
    background-color: blue;
    color: white;
}
.flex-box-3-end {
    background-color: red;
    color: white;
}

.flex-container-space-around {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}
.flex-box-space-around {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-space-around {
    background-color: yellow;
}
.flex-box-2-space-around {
    background-color: blue;
    color: white;
}
.flex-box-3-space-around {
    background-color: red;
    color: white;
}

.flex-container-space-between {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}
.flex-box-space-between {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-space-between {
    background-color: yellow;
}
.flex-box-2-space-between {
    background-color: blue;
    color: white;
}
.flex-box-3-space-between {
    background-color: red;
    color: white;
}

.flex-container-flex-start {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.flex-box-flex-start {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-flex-start {
    background-color: yellow;
}
.flex-box-2-flex-start {
    background-color: blue;
    color: white;
}
.flex-box-3-flex-start {
    background-color: red;
    color: white;
}

.flex-container-flex-center {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-box-flex-center {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-flex-center {
    background-color: yellow;
}
.flex-box-2-flex-center {
    background-color: blue;
    color: white;
}
.flex-box-3-flex-center {
    background-color: red;
    color: white;
}

.flex-container-flex-end {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.flex-box-flex-end {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-flex-end {
    background-color: yellow;
}
.flex-box-2-flex-end {
    background-color: blue;
    color: white;
}
.flex-box-3-flex-end {
    background-color: red;
    color: white;
}

.flex-container-flex-stretch {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
}
.flex-container-flex-stretch > .flex-box-flex-stretch {
    flex-basis: 100%;
}

.flex-box-flex-stretch {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1-flex-stretch {
    background-color: yellow;
}
.flex-box-2-flex-stretch {
    background-color: blue;
    color: white;
}
.flex-box-3-flex-stretch {
    background-color: red;
    color: white;
}

@media (min-width: 0px)
and (max-width: 600px) {
    .media {
        background-color: #ff7070;
    }
    .media h2 {
        background-color: grey;
    }
    .media-query {
        background-color: palevioletred;
        color: white;
        font-size: 80%;
    }
}
@media (min-width: 600px)
and (max-width: 1200px) {
    .media {
        background-color: green;
    }
    .media h2 {
        background-color: darkkhaki;
    }
    .media-query {
        background-color: darkolivegreen;
        color: black;
    }
}
@media (min-width: 1200px)
and (max-width: 1800px) {
    .media {
        background-color: cadetblue;
    }
    .media h2 {
        background-color: silver;
    }
    .media-query {
        background-color: skyblue;
        color: grey;
        font-size: 120%;
    }
}
